--[dbo].[sp_PrintLatitudesLongitudes]  36.171571,-86.781281,0.000133, 19
--sp_UpdateLatitudesLongitudes 36.167615,-86.787422,0.000133,'Object'
--sp_UpdateLatitudesLongitudes 36.139176,-86.762875,0.000133,'Human'
--sp_UpdateLatitudesLongitudes 36.086919,-86.728638,0.000133,'Vehicle'
--sp_UpdateLatitudesLongitudes 36.198859,-86.814201,0.000133,'Group Pattern'

--SELECT EVENT, Lat, Lon from FRS_Message order by Event